@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');
@font-face {
    font-family: "CW BR Firma";
    src: url('../fonts/BR\ Firma\ Medium.otf') format('truetype'); /* Replace with the actual font file path */
    /* Add other font formats (woff, woff2) if available */
  }
  @font-face {
    font-family: "CW BR Firma-Bold";
    src: url('../fonts/BR\ Firma\ Bold.otf') format('truetype'); /* Replace with the actual font file path */
    /* Add other font formats (woff, woff2) if available */
  }
  @font-face {
    font-family: "Readex Pro";
    src: url('../fonts/ReadexPro-Medium.ttf') format('truetype'); /* Replace with the actual font file path */
    /* Add other font formats (woff, woff2) if available */
  }
  @font-face {
    font-family: "Net Nordique";
    src: url('../fonts/FontsFree-Net-Nordique-Pro-Bold.ttf') format('truetype'); /* Replace with the actual font file path */
    /* Add other font formats (woff, woff2) if available */
  }
body::-webkit-scrollbar{
  display: none;
}

body {
  font-family: Readex Pro;     
}
